<div class="grid-container">
  <% @movie.reviews.order(created_at: :desc).limit(5).each do |review| %>
    <div class="grid-item">

      <%# if !review.user.nil?  %>
        <li><strong> <%= review.user.email.split('@')[0] %>  </strong>
          <small> <%= time_ago_in_words(review.created_at) %> ago</small>
      <%# end %>

      <% if !review.ratings.nil? %>
          <p>
            <% review.ratings.times do %> ⭐ <%end %>
          </p>
      <% end %>

      <p><%= review.comment %></p>
      <p>
        <% if can? :manage ,review %>
          <%= link_to "Edit" ,edit_movie_review_path(@movie,review)  %>
          <%= link_to "Delete" , movie_review_path(@movie,review), method: :delete, data: { confirm: 'Are you sure?' }  %>
        <% end %>
      </p>
      </li>

      <p>
        <%# if !review.id.nil? %>
        <%= number_to_human(review.get_upvotes.size) %>
        <%= link_to "upvote", upvote_movie_review_path(@movie,review), method: :put %>
        <%= number_to_human(review.get_downvotes.size) %>
        <%= link_to "downvote", downvote_movie_review_path(@movie,review), method: :put %>
      <%# end %>
          </p>
    </div>
<!--    <hr>-->
  <% end %>

<%= button_to "View all Reviews",movie_reviews_path(@movie) ,method: :get%>

</div>
